<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/header.ejs") %>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="texts" style="margin: 2rem;">
        <h1>Hoşgeldin, <%= user.username %></h1>
        <p>Hadi yeni bir gönderi oluşturalım.</p>
    </div>
    <div class="section card" style="margin: 2rem;">
        <form action="/admin/create-post" method="post" class="form-group card-body">
            <label for="exampleFormControlInput1">Başlık</label>
            <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Yaratıcı bir şeyler deneyin" required>
            <label for="exampleFormControlInput2">Resim</label>
            <input type="text" name="img" class="form-control" id="exampleFormControlInput2" placeholder="Bir url giriniz..." required>
            <label for="exampleFormControlInput3">Kısa açıklama</label>
            <input type="text" name="snippets" class="form-control" id="exampleFormControlInput3" placeholder="Gönderiyle ilgili kısa bir açıklama yazın" required>
            <label for="exampleFormControlTextarea4">Gönderi</label>
            <textarea class="form-control" name="body" id="exampleFormControlTextarea4" rows="3"></textarea>
            <div class="text-center" style="margin: 2rem;">
                <input type="submit" class="btn btn-dark text"></input>
            </div>
        </form>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>